{% extends "base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block section %}
<section class="ftco-section" style="height:100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center" style="font-size: 25px;"> <strong>Password Reset</strong></h3>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}


          <form action="" method="post" class="signin-form">
            {% csrf_token %}

            <hr>

            <div class="form-group">
              {{form.email|attr:"class:form-control"|attr:"placeholder:Email"}}

            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">{% trans "Reset My Password" %}
                &raquo;</button>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </form>
          <div style="text-align: center; margin-top: 20px;">
            <a href="{% url 'account_signup' %}"><button class="btn btn-outline btn-info">Signup</button>
              <div class="space" style="  width: 4px;
  height: auto;
  display: inline-block;"></div>
              <a href="{% url 'account_login' %}"><button class="btn btn-outline btn-info">Login</button>
              </a>
          </div>

        </div>
        <!-- <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p> -->
        <!-- <div class="social d-flex text-center"> -->
        <!--   <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a> -->
        <!--   <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}
