body,
h1 {
  margin: 0;
}
h1,
h2 {
  text-align: center;
  font-size: 24px;
}

/* .img-rounded { */
/*   border-radius: 6px; */
/*   display: block; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   width: 50%; */
/* } */

html {
  height: 100%;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
body {
  background: #dddbd1;
  background: -webkit-linear-gradient(#dddbd1, #dbd4d2);
  background: -o-linear-gradient(#dddbd1, #dbd4d2);
  background: -moz-linear-gradient(#dddbd1, #dbd4d2);
  background: linear-gradient(#dddbd1, #d8d8d8);
  background-attachment: fixed;
}
h1 {
  width: 100%;
  padding-bottom: 10px;
}
.festival {
  color: #fff;
  background-color: #ff4a00;
  padding-top: 20px;
}
.img-circle {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  width: 75px;
}
.panel h2 {
  margin-top: 0;
}
h3 {
  color: black;
}
h4 {
  text-align: center;
}
p {
  clear: both;
}
.panel img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 180px;
}
@media (min-width: 600px) {
  body::after {
    height: 70px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  .img-circle {
    width: 120px;
  }
  p {
    clear: none;
  }
  .email {
    clear: both;
  }
}
