<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>{% block head_title %} {% endblock head_title %}</title>

<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
    <script src="{% static 'js/navbar.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

  <meta charset="utf-8" />
  <meta name="viewport" section="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.1/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" 'js-fullheight" style="background-image: url({% static 'images/bg.jpg' %});">
  {% load static %}
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <a href="{% url 'home' %}"><i class="fa fa-angellist"></i> Logo</a>
    </div>

    <!-- Navbar Links -->

    {% if user.is_authenticated %}
    <ul id="menu">
      <li><a href="{% url 'home' %}">Home</a></li>
      <!--
   -->
      <li><a href="{% url 'events:event_page' %}">Events</a></li>
      <!--
   -->
      <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <!--
   -->
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
    </ul>
    {% else %}
    <ul id="menu">
      <li><a href="{% url 'home' %}">Home</a></li>
      <!--
   -->
      <li><a href="{% url 'events:event_page' %}">Events</a></li>
      <!--
   -->
      <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <!--
   -->
      <li><a href="{% url 'account_signup' %}">Signup</a></li>
    </ul>
    {% endif %}
  </div>
</nav>

<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>

<div class="overlay-menu">
  {% if user.is_authenticated %}
  <ul id="menu">
    <li><a href="{% url 'home' %}">Home</a></li>
    <!--
   -->
    <li><a href="{% url 'events:event_page' %}">Events</a></li>
    <!--
   -->
    <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <!--
   -->
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
  </ul>
  {% else %}
  <ul id="menu">
    <li><a href="{% url 'home' %}">Home</a></li>
    <!--
   -->
    <li><a href="{% url 'events:event_page' %}">Events</a></li>
    <!--
   -->
    <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
    <li><a href="{% url 'account_login' %}">Login</a></li>
    <!--
   -->
    <li><a href="{% url 'account_signup' %}">Signup</a></li>
  </ul>
  {% endif %}
</div>
  {% block home %} {% endblock home %} {% block section %} {% endblock section %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>

</body>

</html>
