{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block home %}
{% include 'includes/navbar.html' %}
{% if user.is_authenticated %}
<div class="ftco-section" style="height:100vh;">
  <div class="hero" style="align-self:center; margin-top:10em;">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold" style=" font-size: 35px; color: white;">Welcome {{user.get_full_name}}!
        </h1>
        <br>
        <p class="py-9" style="font-size: 20px; margin-bottom: 10px; color: white;"></p>
        <br>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="ftco-section" style="height:100vh;">
  <div class="hero" style="align-self:center; margin-top:10em;">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold" style=" font-size: 35px; color: white;">Welcome!</h1>
        <br>
        <p class="py-9" style="font-size: 20px; margin-bottom: 10px; color: white;">Login or Signup for using this
          website :)</p>
        <br>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
