{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block home %}


{% include "users/opening.html" %}  <!--hehe-->
{% include "users/glitch_text_style.html" %}


{% include 'includes/navbar.html' %}
{% if user.is_authenticated %}


<div class="ftco-section" style="height:100vh;">
  <div class="hero" style="align-self:center; margin-top:10em;">
    <div class="hero-content text-center">
      <div class="max-w-md">
        
        
         <div class="glitch-wrapper">
          <div class="glitch" data-glitch="Prodyogiki 2023">Prodyogiki 2023</div>
       </div>
       

       
        <h1 class="text-5xl font-bold" style=" font-size: 35px; color: white;">Welcome {{user.get_full_name}}!
        </h1>
        <br>
        <p class="py-9" style="font-size: 20px; margin-bottom: 10px; color: white;"></p>
        <br>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="ftco-section" style="height:100vh;">
  <div class="hero" style="align-self:center; margin-top:10em;">
    <div class="hero-content text-center">
      <div class="max-w-md">
         <div class="glitch-wrapper">
            <div class="glitch" data-glitch="Prodyogiki 2023">Prodyogiki 2023</div>
         </div>
        <h1 class="text-5xl font-bold" style=" font-size: 35px; color: white;">Welcome!</h1>
        <br>
        <p class="py-9" style="font-size: 20px; margin-bottom: 10px; color: white;">Login or Signup for using this
          website :)</p>
        <br>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include "includes/socials.html" %}
{% endblock %}
