<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title>Profile</title>
  <meta charset="UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
</head>

<body>

  <div class="wrapper">
    {% include 'includes/navbar.html' %}
    <div class="profile">
      <div class="content">
        <h1>Edit Profile</h1>
        <form action="{% url 'profile' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <!-- Photo -->
          <fieldset>
            <div class="grid-35">
              <label for="avatar">Your Photo</label>
            </div>
            <div class="grid-65">
              <span class="photo" style="background-image: url({{profile.get_avatar}});"
                title="Upload your Avatar!"></span>
              <input type="file" name="avatar" class="btn" />
            </div>
          </fieldset>
          <fieldset>
            <div class="grid-35">
              <label for="first_name">First Name</label>
            </div>
            <div class="grid-65">
              <input type="text" id="first_name" name="first_name" value="{{ profile.user.first_name }}" tabindex="1" />
            </div>
          </fieldset>
          <fieldset>
            <div class="grid-35">
              <label for="lname">Last Name</label>
            </div>
            <div class="grid-65">
              <input type="text" name="last_name" id="last_name" value="{{ profile.user.last_name }}" tabindex="2" />
            </div>
          </fieldset>
          <!-- Description about User -->
          <fieldset>
            <div class="grid-35">
              <label for="birthday">Birthday</label>
            </div>
            <div class="grid-65">
              <input name="birthday" id="birthday" type="date" placeholder="dd/mm/yyyy"
                value="{{ profile.birthday}}" >

            </div>
          </fieldset>
          <!-- Location -->
          <fieldset>
            <div class="grid-35">
              <label for="gender">Gender</label>
            </div>
            <div class="grid-65">
              <select name="gender" class="form-select mb-0" id="gender" aria-label="Gender select example">
                <option selected>Select Gender</option>
                {% for key, value in profile.GENDER_CHOICES %}
                <option value="{{ key }}" {% if profile.gender == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </fieldset>
          <!-- Country -->
          <fieldset>
            <div class="grid-35">
              <label for="email">Email</label>
            </div>
            <div class="grid-65">
              <input type="email" id="email" name="email" value="{{ profile.user.email }}" readonly tabindex="5" />
            </div>
          </fieldset>
          <!-- Email -->
          <fieldset>
            <div class="grid-35">
              <label for="phone_number">Phone</label>
            </div>
            <div class="grid-65">
              <input type="text" id="phone_number" name="phone_number" value="{{ profile.phone_number }}"
                tabindex="6" />
            </div>
          </fieldset>
          <fieldset>
            <div class="grid-35">
              <label for="address">Address</label>
            </div>
            <div class="grid-65">
              <input type="text" id="address" name="address" value="{{ profile.address|default:'' }}" tabindex="7" />
            </div>
          </fieldset>
          <fieldset>
            <input type="submit" value="Save Profile" class="Btn"></input>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>

</body>

</html>
