<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{% static 'css/event-style.css' %}" rel="stylesheet" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <div class="card"
    style="display: flex; flex-wrap: wrap; flex-direction: unset; justify-content: space-around; margin-top: 35px;">
    {% for event in eventcard_list %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{event.poster.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text">{{event.desc}}</p>
        <a href="#" class="btn btn-primary">Register</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>
